.spinner {
    border: 7px solid rgba(57, 0, 200, 1);
    border-left-color: transparent;
    border-radius: 50%;

    width: 50px;
    height: 50px;

    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}